<form method="POST" action="/figures">
<input type="text" id="figure_name" name="figure[name]" id="name">
<%Landmark.all.each do |landmark|%>
<input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.name%>"><%=landmark.name%></input>
<% end %>

<%Title.all.each do |title|%>
<input type="checkbox" name="figure[title_ids][]" value="<%=title.name%>"><%=title.name%></input>
<% end %>
<input type="text" id="landmark_name" name="landmark[name]">
<input type="text" id="landmark_name" name="title[name]">
</form>
